#CaixaRegras{
    width:80vw;
    height:90vh;
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin: 0 auto;
   
    
}

#proximaQuestao{
    width:15vw;
    height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

#botaoDirRegras{
    width:6vw;
    height:9vh;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:2em;
}

#textProxima{
    width:14vw;
    height:4vh;
    font-size:1em;
    text-align:center;
}