*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#mainLanding{
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
  }
  
  #principal{
    height: 80vh;
    width: 100vw;
    
    
  }

  
  #principal .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    height: 80vh;
    
  }
  
  #blocoTitulo{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  #titulo{
    width: 90%;
    font-size: 3.2em;
    text-align: center;
    color: #552583;
    font-family: 'Prompt', sans-serif; /*bold*/
  
  }
  
  #subtitulo{
    width: 70%;
    font-size: 1em;
    text-align: center;
    font-weight: none;
    font-family: 'Prompt', sans-serif;/*regular*/
    color:#4F4E4E;
  }
  
  button{
    width: 11vw;
    height: 8vh;
    border-color: #552583;
    border-radius: 10px;
    cursor: pointer;
    background: #552583;
    color:white;
    font-size: 1em;
    font-family: 'Prompt', sans-serif;
    
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.25);
  }
  
  button:focus { /*retirar borda quando clicar no input*/
      box-shadow: 0 0 0 0;
      outline: 0;
  }
  
  button:hover{
    opacity:0.8;
  }
  
  .cadastre{
    width: 80%;
    text-align: center;
    
  }
  
  .cadastre a{
    text-decoration: none;
    color: #552583;
  }
  
  #imgPrincipal{
    width: 40vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  #imgPrincipal>img{
    width: 100%;
    
  }
  
  #print{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  #print .container{
    width: 90vw;
    height: 45vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  #textoPrint{
    width: 70vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  #textoPrint h2{
    width: 70vw;
    height: 20vh;
    font-size: 1.9em;
    color: #552583;
    font-family: 'Prompt', sans-serif;
  }
  
  #textoPrint p{
    width: 70vw;
    height: 15vh;
    font-size: 1.1em;
    font-family: 'Prompt', sans-serif;
  }
  
  #depoimentos{
    height: 70vh;
    width: 100vw;
    background: #FFF5E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #depoimentos .container{
    width: 90vw;
    height: 55vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  #tituloDepoimento{
    color: #552583;
    font-family: 'Prompt', sans-serif;
    font-size: 1.9em;
    
  }
  
  #containerDepoimentos{ 
    width: 90vw;
    height: 45vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .boxDepoimento{
    padding: 1em;
    width: 40vw;
    height: 45vh;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .aspas{
    width: 35vw;
    height: 8vh;
    font-size: 1.3em;
    color: #552583;
  }
  
  .boxDoComentario{
    width: 35vw;
    height: 14vh;
    font-size: 1em;
    color: rgb(156, 155, 155);
  }
  
  .perfilEnome{
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items: center;
  }
  
  .imgPerfilDepoimento{
    width: 7vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgPerfilDepoimento img{
    width: 50%;
  }

  .nomeEstudante{
    color: rgb(156, 155, 155);

  }