.containerInicial{
    width:100vw;
    height:100vh;
    background-color: #552583;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#conteudoInicial{
    width:90vw;
    height:90vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

#tituloInicial{
    font-size:5em;
    width:50vw;
    height:65vh;
    display: flex;
    text-align: center;
    color: #fff;
    text-shadow: 2px 4px #FDB927;
}

#boxInicial{
    width:40vw;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

figure{
    height:50vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#botaoInicial{
    font-size:3em;
    width:15vw;
    height:12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #552583;
    background-color: #FDB927;
    border:none;
}