#notFound{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    width: 100vw;
    height: 90vh;
}

#tituloNotFound{
    font-size:6em;
    color: #552583;
}

#descricaoNotFound{
    font-size:1.5em;
    color: #552583;
    text-align: center;
}